.App-container {
    position: relative;
    height: calc(100vh - 100px);
    padding: 20px;
}

.common-title {
    position: relative;
    margin-bottom: 20px;
    padding-left: 10px;
    border-left: 4px solid #339af0;
    font-size: 20px;
    font-weight: 600;
}

@media all and (min-width: 1200px) {
    .App-container {
        max-width: 1440px;
        margin: 0 auto;
        padding: 40px 20px;
    }
}

@media all and (min-width: 1440px) {
    .App-container {
        max-width: 1600px;
    }
}