.App-todo {
    margin-top: 20px;
}

.todo-list--item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 1.25rem 2.5rem;
}

.todo-list--item:nth-child(even) {
    background-color: #f8f9fa;
}

.todo-list--item + .todo-list--item {
    border-top: 1px solid #dee2e6;
}

.todo-list--item button {
    margin-left: auto;
    background-color: transparent;
    color: #ff6b6b;
    transition: .25s;
}

.todo-list--item button:hover {
    color: #ff8787;
}

.todo-text {
    flex: 1;
}

.todo-check:checked + .todo-text {
    color: #adb5bd;
    text-decoration: line-through;
}